/*.dsw
/vc_msw
/vc_mswd
/vc_mswu
/vc_mswud
/vc_mswdll
/vc_mswddll
/vc_mswudll
/vc_mswuddll
/vc_mswuniv
/vc_mswunivd
/vc_mswunivu
/vc_mswunivud
/vc_mswunivdll
/vc_mswunivddll
/vc_mswunivudll
/vc_mswunivuddll
*.*sdf
*.suo
ipch
/*.vcproj.*.user
/*.vcxproj.*.user
